#navPanel {
    padding: 5px;
    background-color: #caffab;
    display: flex;
    flex-direction: row;
}

.navItem {
    padding: 10px 30px;
}

.navItemLast {
    margin-left: auto;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}

.rowContainer {
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 1300px;
}

.clickable {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25px;
    padding: 10px;
    background-color: #7ecbde;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.big {
    width: 250px;
    height: 100px;
    text-size: 52px;
}

.wide {
    width: 600px;
    height: 50px;
    text-size: 30px;
}

.smallBlockContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;

    background: lightgrey;

}

.listTable {
    width: 100%;
    text-align: center;
    vertical-align: center;
}

.listTable th {
    height: 60px;
    background-color: green;
    color: white;
}

.listTable tr {
    height: 30px;
    background-color: lightgrey;
}

.listTable tr:hover {
    background-color: AliceBlue;
    transition: all 0.8s;
}

.sendForm {
    display: flex;
    flex-direction: column;
    width: 800px;
}