<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <th:block th:replace="fragments :: styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<main>
    <div class="container">
        <form th:action="@{/login}" method="post">
            <div>
                <label>
                    Login: <input type="text" id="username" name="username">
                </label>
            </div>
            <div>
                <label>
                    Password: <input type="password" id="password" name="password">
                </label>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</main>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>