<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project adding form</title>
</head>
<body>
<form th:action="@{/project/add}" method="post" th:object="${newProject}">
  <input type="number" hidden th:field="*{id}">
  <!--<input type="number" hidden th:name="ownerId" th:value="${teamId}">-->
    <input type="text" th:field="*{name}" placeholder="Project name">
    <button type="submit">Add new project</button>
</form>
</body>
</html>