<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User register form</title>
</head>
<body>
<form th:action="@{/register/user}" method="post" th:object="${registerInfo}">
  <label>Username<input type="text" th:field="*{username}"></label>
  <label>Password<input type="text" th:field="*{password}"></label>
  <select th:field="*{teamId}">
    <option th:each="team : ${teamList}" th:text="${team.getId()}" th:value="${team.getId()}"></option>
  </select>

  <button type="submit">Register</button>
</form>
</body>
</html>