<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task adding form</title>
    <th:block th:replace="fragments :: styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<main>
    <div class="container">
        <form th:action="@{/task/add}" method="post" th:object="${newTask}">
            <input type="number" hidden th:field="*{id}">
            <input type="number" hidden th:value="${ownerId}" th:name="ownerId">
            <input type="text" th:field="*{description}" placeholder="Task description">
            <button type="submit">Add new task</button>
        </form>
    </div>
</main>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>