<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task list</title>
</head>
<body>
<table>
  <tr>
    <th>No.</th>
    <th>Description</th>
    <th>Status</th>
    <th>Show detailed</th>
    <th>Edit</th>
    <th>Remove</th>
  </tr>
  <tr th:each="task, index : ${taskList}">
    <td th:text="${index.index+1}"></td>
    <td th:text="${task.getDescription()}"></td>
    <td th:text="${task.getStatus()}"></td>
    <td><a th:href="@{'/task/'+${task.getId()}}">Details</a></td>
    <td><a th:href="@{'/task/edit/'+${task.getId()}}">Edit</a></td>
    <td><a th:href="@{'/task/delete/'+${task.getId()}}">Delete</a></td>
  </tr>
</table>
</body>
</html>