<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task adding form</title>
    <th:block th:replace="fragments :: styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<main>
    <div class="container">
        <form th:action="@{/team/add}" method="post" th:object="${newTeam}">
            <input type="number" hidden th:field="*{id}">
            <input type="number" hidden th:name="userId" th:value="${ownerId}">
            <label>Name<input type="text" th:field="*{name}"></label>
            <button type="submit">Add</button>
        </form>
    </div>
</main>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>